# WordPress & WooCommerce API
WP_API_URL=https://kilogramme-shop.com/wp-json/wp/v2
WC_API_URL=https://kilogramme-shop.com/wp-json/wc/v3
WC_CONSUMER_KEY=your_consumer_key_here
WC_CONSUMER_SECRET=your_consumer_secret_here
